body{
    background-color: rgb(255, 255, 255);
    background-position: center center;
    background-size: cover;
}

.proyectos {
    font-size: 5vw;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0vw;
    left: 35vw;
    font-family: 'Rubik', sans-serif;
}

.boton1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 3vw;
    background: none;
    color: rgb(7, 7, 7);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 0vw;
    margin:0vw -4px 0vw 0vw;
    position: relative;
    left: 68vw;
}

.boton1:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.link {
    text-decoration: none;
    color: black;
}


.img-1 {
    position: absolute;
    top: 20vw;
    left: 2vw;
    height: 20vw;
    width: 46vw;
    border-radius: 3vw;
    background-color: black;
}

.img-1:hover {
    position: absolute;
    top: 19.5vw;
    left: 1.5vw;
    height: 20vw;
    width: 46vw;
    border-radius: 3vw;
    background-color: black;
}

.img-2 {
    position: absolute;
    top: 20vw;
    left: 50vw;
    height: 20vw;
    width: 46vw;
    border-radius: 3vw;
}

.img-2:hover {
    position: absolute;
    top: 19.5vw;
    left: 49.5vw;
    height: 20vw;
    width: 46vw;
    border-radius: 3vw;
}


.img {
    height: 20vw;
    width: 46vw;
    border-radius: 3vw;
    margin-right: 3vw;
    cursor: pointer;

}

.img:hover {
    height: 20vw;
    width: 46vw;
    border-radius: 3vw;
    margin-right: 3vw;
    box-shadow: 10px 10px 7px;

}