.boton1 {
    display: inline-flex;
align-items: center;
justify-content: center;
width: 10vw;
height: 3vw;
background: none;
color: rgb(7, 7, 7);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.6vw;
border: none;
cursor: pointer;
text-transform: uppercase;
transition: .3s ease all;
border-radius: 0vw;
margin:0vw -4px 0vw 0vw;
position: relative;
left: 68vw;
}
.boton1:hover {
    background: black;
    color: white;
    animation: boton .0s ;
}

.html {
    position: absolute;
    top: 80vw;
    left: 50vw;
    height: 7vw;
    width: 7vw;
}
.html:hover {
    filter: invert(66%) sepia(41%) saturate(6332%) hue-rotate(10deg) brightness(101%) contrast(104%);
    }